*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 30px;
}
nav > ul{
  list-style: none;
}
nav > ul > li{
  display: inline-block;
  margin-right: 10px;
}
.menu{
  display: inline-block;
}
.has-dropdown{
  position: relative;
}
.drop{
  list-style: none;
  position: absolute;
  top: 30px;
  left: 10px;
  display: none;
  padding: 10px;
  box-shadow: 0 0 3px lightgrey;
}
.active{
  display: grid;
}
a{
  text-decoration: none;
  color: lightgrey;
}
a:hover{
  color: darkblue;
}
.nav-btn{
  padding: 10px;
  background-color: #d42456;
  color: white;
  border-radius: 30px;
  border-color: #d42456;
}
